body.group-invites h2.bp-screen-title,
body.group-invites h3.bp-screen-title,
body.group-create.group-invites #message.info {
	display: none;
}

#buddypress .bp-feedback:not(.custom-homepage-info) {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
}

#buddypress .bp-feedback {
	background: #fff;
	color: #807f7f;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	color: #737373;
	margin: 10px 0;
	position: relative;
}

#buddypress .bp-feedback p {
	margin: 0;
}

#buddypress .bp-feedback span.bp-icon {
	color: #fff;
	display: block;
	font-family: dashicons;
	left: 0;
	margin-right: 10px;
	position: relative;
	padding: 0  0.5em;
}

#buddypress .bp-feedback .bp-help-text {
	font-style: italic;
}

#buddypress .bp-feedback .text {
	font-size: 14px;
	margin: 0;
	padding: 0.5em 0;
}

#buddypress .bp-feedback.no-icon {
	padding: 0.5em;
}

#buddypress .bp-feedback.small:before {
	line-height: inherit;
}

#buddypress a[data-bp-close] span:before,
#buddypress button[data-bp-close] span:before {
	font-size: 32px;
}

#buddypress a[data-bp-close],
#buddypress button[data-bp-close] {
	border: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px;
}

#buddypress .bp-feedback.no-icon a[data-bp-close],
#buddypress .bp-feedback.no-icon button[data-bp-close] {
	top: -6px;
	right: 6px;
}

#buddypress button[data-bp-close]:hover {
	background-color: transparent;
}

#buddypress .bp-feedback p {
	margin: 0;
}

#buddypress .bp-feedback .bp-icon {
	font-size: 20px;
	padding: 0 2px;
}

#buddypress .bp-feedback.info .bp-icon,
#buddypress .bp-feedback.help .bp-icon,
#buddypress .bp-feedback.error .bp-icon,
#buddypress .bp-feedback.warning .bp-icon,
#buddypress .bp-feedback.loading .bp-icon,
#buddypress .bp-feedback.success .bp-icon,
#buddypress .bp-feedback.updated .bp-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

#buddypress .bp-feedback.info .bp-icon,
#buddypress .bp-feedback.help .bp-icon {
	background-color: #0b80a4;
}

#buddypress .bp-feedback.info .bp-icon:before,
#buddypress .bp-feedback.help .bp-icon:before {
	content: "\f348";
}

#buddypress .bp-feedback.error .bp-icon,
#buddypress .bp-feedback.warning .bp-icon {
	background-color: #d33;
}

#buddypress .bp-feedback.error .bp-icon:before,
#buddypress .bp-feedback.warning .bp-icon:before {
	content: "\f534";
}

#buddypress .bp-feedback.loading .bp-icon {
	background-color: #ffd087;
}

#buddypress .bp-feedback.loading .bp-icon:before {
	content: "\f469";
}

#buddypress .bp-feedback.success .bp-icon,
#buddypress .bp-feedback.updated .bp-icon {
	background-color: #8a2;
}

#buddypress .bp-feedback.success .bp-icon:before,
#buddypress .bp-feedback.updated .bp-icon:before {
	content: "\f147";
}

#buddypress .bp-feedback.help .bp-icon:before {
	content: "\f468";
}

#buddypress .bp-invites-content ul.item-list li .action button.invite-button,
#buddypress .bp-invites-content ul.item-list li .action button.invite-button:focus {
	background-color: #fff;
	border-color: #ccc;
}

#buddypress .bp-invites-content ul.item-list li .action button.invite-button:hover {
	background-color: #f1f1f1;
	border-color: #ccc;
}

#buddypress .bp-invites-content li .invite-button span.icons:before {
	font-family: dashicons;
	font-size: 18px;
}

#buddypress ul.item-list li .invite-button:not(.group-remove-invite-button) span.icons:before {
	content: "\f502";
	color: #8a2;
}

#buddypress ul.item-list li.selected .invite-button span.icons:before,
#buddypress ul.item-list li .group-remove-invite-button span.icons:before {
	content: "\f153";
	color: #d33;
}

#buddypress #group-invites-container {
	margin: 1em 0;
	overflow: hidden;
}

#buddypress .group-invites-column {
	margin: 0 0.5em;
}

#buddypress .group-invites-column .bp-feedback p {
	margin: 0.5em 0;
	padding-right: 0.5em;
	vertical-align: middle;
}

#buddypress #group-invites-container ul.subnav {
	padding: 0;
}

#buddypress #group-invites-container ul.subnav li {
	list-style: none;
}

#buddypress #group-invites-container ul.subnav li.current a {
	background-color: #eee;
	color: #555;
	opacity: 0.9;
	font-weight: 700;
}

#buddypress #group-invites-container ul.subnav li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

#buddypress #group-invites-container ul.subnav li a .count {
	background-color: #5087e5;
	border-radius: 50%;
	border: 0;
	color: #fafafa;
	display: inline;
	font-size: 70%;
	margin-left: 2px;
	padding: 3px 6px;
	text-align: center;
	vertical-align: middle;
}

#buddypress .bp-invites-content ul.item-list {
	border-top: 0;
}

#buddypress .bp-invites-content ul.item-list li {
	border: 1px solid #eaeaea;
	margin: 0 0 1%;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	width: auto;
	display: table;
}

#buddypress .bp-invites-content ul.item-list li .list-title {
	margin: 0 auto;
	width: 80%;
}

#buddypress .bp-invites-content ul.item-list li .action {
	position: absolute;
	top: 10px;
	right: 10px;
}

#buddypress .bp-invites-content ul.item-list li .action a.button.invite-button {
	border: 0;
}

#buddypress .bp-invites-content ul.item-list li .action a.button.invite-button:focus, #buddypress .bp-invites-content ul.item-list li .action a.button.invite-button:hover {
	color: #1fb3dd;
}

#buddypress .bp-invites-content ul.item-list li.selected {
	-webkit-box-shadow: inset 0 0 12px 0 rgba(237, 187, 52, 0.2);
	-moz-box-shadow: inset 0 0 12px 0 rgba(237, 187, 52, 0.2);
	box-shadow: inset 0 0 12px 0 rgba(237, 187, 52, 0.2);
}

#buddypress .bp-invites-content .item-list .item-meta span,
#buddypress .bp-invites-content .group-inviters li {
	color: #767676;
}

#buddypress .bp-invites-content li ul.group-inviters {
	clear: both;
	margin: 0;
	overflow: hidden;
	padding-left: 0;
}

#buddypress .bp-invites-content li ul.group-inviters li {
	border: 0;
	float: left;
	font-size: 90%;
	width: inherit;
}

#buddypress .bp-invites-content li .status {
	font-size: 90%;
	font-style: italic;
	clear: both;
	color: #555;
	margin: 10px 0;
}

#buddypress .bp-invites-content #send-invites-editor ul:before,
#buddypress .bp-invites-content #send-invites-editor ul:after {
	content: " ";
	display: table;
}

#buddypress .bp-invites-content #send-invites-editor ul:after {
	clear: both;
}

#buddypress .bp-invites-content #send-invites-editor textarea {
	width: 100%;
}

#buddypress .bp-invites-content #send-invites-editor ul {
	clear: both;
	list-style: none;
	margin: 10px 0;
	padding-left: 0;
}

#buddypress .bp-invites-content #send-invites-editor ul li {
	float: left;
	margin: 0.5%;
	max-height: 50px;
	max-width: 50px;
}

#buddypress .bp-invites-content #send-invites-editor #bp-send-invites-form {
	clear: both;
	margin-top: 10px;
}

#buddypress .bp-invites-content #send-invites-editor .action {
	margin-top: 10px;
	padding-top: 10px;
}

#buddypress .bp-invites-content #send-invites-editor.bp-hide {
	display: none;
}

@media screen and (min-width: 37.5em) {
	#buddypress .bp-invites-content ul.item-list > li {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #eaeaea;
		float: left;
		padding-left: 0.5em;
		padding-right: 0.5em;
		width: 49.5%;
	}
	#buddypress .bp-invites-content ul.item-list > li:nth-child(odd) {
		margin-right: 0.5%;
	}
	#buddypress .bp-invites-content ul.item-list > li:nth-child(even) {
		margin-left: 0.5%;
	}
	#buddypress .bp-invites-content ul.item-list ul.group-inviters {
		float: left;
		width: auto;
	}
}

@media screen and (min-width: 37.5em) {
	#group-invites-container ul.subnav {
		margin: 0;
		width: auto;
		padding: 0;
		padding-right: 2em;
	}

	#group-invites-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 25% auto;
		grid-template-columns: 25% auto;
		grid-template-areas: "group-invites-nav group-invites-column";
	}
	#group-invites-container .bp-invites-nav {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		grid-area: group-invites-nav;
	}
	#group-invites-container .bp-invites-nav li {
		display: block;
		float: none;
	}
	#group-invites-container .group-invites-column {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		grid-area: group-invites-column;
	}
}
